<% if @list.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(url(<%= cl_image_path @list.photo.key %>)">
<% else %>
  <div class="banner" style="filter: grayscale(100%); background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://jsis.washington.edu/global/wp-content/uploads/sites/17/2022/03/clip-of-film-reel-and-classic-camera-spinning-with-right-side-light-and-warm-background-in-4k-free-video.jpg)">
<% end %>
<h1 class="font-roboto fs-1"><%= @list.name %></h1>
</div>

<div class="d-flex w-100 my-3">
<div class="w-75 p-3 border rounded">

  <% @bookmarks.each do |m| %>
  <div>
    <div class="d-flex my-2">
      <img src=<%= m.movie.poster_url %> alt="movie image" class="w-25">
      <div class="ms-5">
      <h5><%= m.movie.title %></h5>
      <%= m.movie.rating %>
      </div>
    </div>
    <div class="p-2 rounded-4 bg-body-secondary">
    <p><%= m.movie.overview %></p>
    </div>
    <%= link_to 'Delete', bookmark_path(m),
    data: {turbo_method: :delete, turbo_confirmation: 'Are you sure?'}, class: "btn btn-danger text-white rounded-4 shadow-sm mt-2" %>
  </div>

<% end %>
</div>

<div class="mx-auto">
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-success text-white h-15 shadow-sm rounded-4" %>
</div>
</div>
