<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-body-tertiary border-bottom">
      <div class="container-fluid mx-2 d-flex justify-content-between">
        <img src="https://images.freeimages.com/image/previews/db1/vintage-cinema-black-png-reel-5693185.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
        <div class="d-flex">
        <%= link_to 'Lists menu', root_path, class: "text-decoration-none me-5 fs-4 text-black align-item-center" %>
        <h3>Watch List</h3>
        </div>
      </div>
    </nav>
    <div class="container bg-white vh-100">

    <%= yield %>
    </div>
  </body>
</html>
